{% extends "main_template.html" %}

{% block title %}

PalsBet.com Android App

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

{% include "generalapp.html" %}

<iframe scrolling='no' frameBorder='0' style='padding:0px; margin:0px; border:0px;border-style:none;border-style:none;' width='728' height='90' src="https://refbanners.com/I?tag=d_61247m_2882c_&site=61247&ad=2882" ></iframe>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
