{% extends "main_template.html" %}

{% block footer %}



<div class="w3-row-padding" style="background-color:#322f30" align = "center">
  <div class="w3-third">

    <h2 style="color:white">Call Now</h2>
<p style="color:white">
  +254703419149
</p>

<h3 style="color:white">Contact Us Via Skype</h3>
<h4 style="color:white">1XPredict</h4>
  </div>

  <div class="w3-third">
    <h2 style="color:white">Email Us</h2>
    <h4 style="color:white">General Enquiries</h4>
    <p style="color:white">1xpredict@gmail.com</p>


  </div>

  <div class="w3-third">
    <h2 style="color:white">copyright © 2018</h2>
    <h3 style="color:white">powered by 1XPredict.com</h3>
    <p style="color:white"> Version: 2.9 2018-03-25</p>

  </div>
</div>
<br>
<br>

{% endblock %}
