{% extends "main_template.html" %}

{% block footer %}



<div class="w3-row-padding" style="background-color:black">
  <div class="w3-third">

    <h2>Call Now</h2>
<p style="color:white">
  +254703419149
</p>

<h3 style="color:white">Contact Us Via Skype</h3>
<h4>1XPredict</h4>
  </div>

  <div class="w3-third">
    <h2>Email Us</h2>
    <h4>General Enquiries</h4>
    <p style="color:white">1xpredict@gmail.com</p>

    <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,4060837,4,22,130,30,00011111']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?4060837&101" alt="web stats analysis" border="0"></a></noscript>
<!-- Histats.com  END  -->

  </div>

  <div class="w3-third">
    <h2>copyright © 2018</h2>
    <h3 style="color:white">powered by 1XPredict.com</h3>
    <p style="color:white"> Version: 2.9 2018-03-25</p>

  </div>
</div>
<br>
<br>

{% endblock %}
