{% extends "main_template.html" %}

{% block footer %}

<div class="w3-container w3-green">
  <h1 align = "center">Get In Touch</h1>
</div>

<div class="w3-row-padding">
  <div class="w3-third">

    <h2>Call Now</h2>
<p>
  +254702290881
</p>

<h3>Contact Us Via Skype</h3>
<h4>1XPredict</h4>
  </div>

  <div class="w3-third">
    <h2>Email Us</h2>
    <h4>General Enquiries</h4>
    <p>crafttechsolution@gmail.com</p>
  </div>

  <div class="w3-third">
    <h2>copyright © 2018</h2>
    <h3>powered by 1XPredict.com</h3>
    <p> Version: 2.7 2018-03-25</p>

  </div>
</div>
<br>
<br>

{% endblock %}
