{% extends "main_template.html" %}

{% block header %}

<ul class="topnav">
  <h3 align = "center" ><font style="color:yellow">1X</font><font style="color:white">Predict.com</font></h3>
  <p align = "center" style="color:white">We predict, You bet<p>
  <li><a  href="/home/"><font style="color:white"><b>Home</b></font></a></li>
  <li><a href="/rollover/"><font style="color:white"><b>Roll Over</b></font></a></li>
  <li><a  href="/payment/"><font style="color:white"><b>Payment</b></font></a></li>
  <li><a href="/singlebet/"><font style="color:white"><b>Single Bet</b></font></a></li>
  <li><a href="/jackpot/"><font style="color:white"><b>Jackpot</b></font></a></li>
  <li class="right"><a href="/viptips/"><font style="color:white"> <b>Vip Tips</b> </font></a></li>
</ul>

{% endblock %}
