{% extends "main_template.html" %}

{% block header %}

<ul class="topnav">
  <h3 align = "center" ><font style="color:yellow">1X</font><font style="color:white">Predict.com</font></h3>
  <p align = "center" >We predict, You bet<p>
  <li><a  href="/home/"><font style="color:white">Home</font></a></li>
  <li><a href="/rollover/"><font style="color:white">Roll Over</font></a></li>
  <li><a  href="/payment/"><font style="color:white">Payment</font></a></li>
  <li><a href="/singlebet/"><font style="color:white">Single Bet</font></a></li>
  <li class="right"><a href="/viptips/"><font style="color:white"> Vip Tips </font></a></li>
</ul>

{% endblock %}
