{% extends "main_template.html" %}
{% load static %}
{% block title %}

1XPredict.com - Jackpot

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block over_view_contact %}

{% include "slideshow.html" %}

{% include "over_view_contact.html" %}

{% endblock %}

{% block content %}

<div align = "center">
<h2 align="center" class = "h4">
	1XPredict.com Jackpot Package
</h2>


<div class="w3-row-padding">
  <div class="w3-third">
		<img src="{% static "images/jp1.jpeg"  %}">
<p>
<i>
	<p><i>1XPredict offers it's vip subscribers with free jackpot and Megajackpot analysis.
    After subscribing for vip services you will be able to access other subscribers analysis.</i></p>

</i>
</p>
<a href="/notification/" >
  <button type="submit" class=" button4 button3" ><b><h4 style="color:white">Check Jackpot Results</h4></b></button></a>

</div>

<div class="w3-third">
<img src="{% static "images/jp2.jpeg"  %}">
	<p>
     We also encourage our clients to contribute to our analysis. We have a platform of voting for your favourite teams.
     Other people can see your contribution on the platform.
		<p>

</div>

<div class="w3-third">
<img src="{% static "images/jp3.jpeg"  %}">
	<p>
		This is one way of making our suscribers inclusive in analysis. Your win is our win
	</p>



	<p style="color:blue">   <a href="/payment/"
	>
	<i>click here to join both Jackpot and vip tips</i>
</a> </p>
</div>

</div>



{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
