{% extends "main_template.html" %}

{% block title %}

1XPredict.com - VipTips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<div align = "center">



<h2 align = "center">
  Forms Of Payment
</h2>

<h4 align = "center">
	M-PESA Payment Method
</h4>

<div class="w3-row-padding">
  <div class="w3-third">

<h5>
  Kindly go to M-PESA menu and select;

</h5>
<p>
  a) Lipa na M-PESA
</p>
<p>
  b) Pay Bill
</p>
<p>
  c) Enter Business Number <font style="color: red">247247</font>
</p>
<p>
  d) Enter Account Number <font style="color: red">0470171468770</font>
</p>
<p>
  e) Enter Amount <font style="color: red">KSH.999</font>
</p>
<p>
  f) Press OK
</p>

</div>

<div class="w3-third">
<p>
  Please ensure that you pay the exact amount,not more or less than given amount for ease of management
</p>
<p>
  After making your payment send the following details to;
</p>
<p style="color: red">
  1xpredict@gmail.com <font style="color: blue">OR</font> whatsapp/sms +254703419149
</p>
<p>
  a) Ref. Number from equity bank
</p>

</div>

<div class="w3-third">

<p>
  We will subsequently upgrade your subscription promptly
</p>
<h5>
  Your Log In Credentials Will Be;
</h5>
<p>
  Username => (Mobile Phone Number)
</p>
<p>
  password => (Ref. Number )
</p>
<br>
<hr>
</div>
</div>

<h4 align = "center">
  PAYMENT VIA SKRILL
</h4>

<div class="w3-row-padding">
  <div class="w3-third">

<p>
Kindly make your 15$ monthly subscription fee through Skrill to this email
</p>
<p style="color: red">
1xpredict@gmail.com
</p>
<p>
  Upon payment kindly send the following details to us at <font style="color: red">1xpredict@gmail.com</font>
</p>
</div>

<div class="w3-third">
<p>
  a) Your full names as reflected in that Skrill payment
</p>
<p>
  b) Your phone number with your country's code e.g. <font style="color: red">+23483736</font>
</p>
<p>
  We will subsequently upgrade your subscription promptly
</p>
</div>

<div class="w3-third">
<h5>
  Your Log In Credentials Will Be;
</h5>
<p>
  Username => (Mobile Phone Number)
</p>
<p>
  Password => (Email Used In Payment)
</p>
<br>
<hr>
</div>
</div>

<h4 align = "center">
	PAYMENT VIA NETELLER
</h4>

<div class="w3-row-padding">
  <div class="w3-third">
<p>
Kindly make your 15$ monthly subscription fee through Neteller to this email
</p>
<p style="color: red">
1xpredict@gmail.com
</p>
<p>
  Upon payment kindly send the following details to us at <font style="color: red">1xpredict@gmail.com</font>
</p>
</div>

  <div class="w3-third">
<p>
  a) Your full names as reflected in that Neteller payment
</p>
<p>
  b) Your phone number with your country's code e.g. <font style="color: red">+23483736</font>
</p>
<p>
  We will subsequently upgrade your subscription promptly
</p>
</div>

  <div class="w3-third">
<h5>
  Your Log In Credentials Will Be;
</h5>
<p>
  Username => (Mobile Phone Number)
</p>
<p>
  Password => (Email Used In Payment)
</p>
<br>
<hr>
</div>
</div>

<h4 align = "center">
	PAYMENT VIA PAYPAL
</h4>

<div class="w3-row-padding">
  <div class="w3-third">
<p>
Kindly make your 15$ monthly subscription fee through PayPal to this email
</p>
<p style="color: red">
1xpredict@gmail.com
</p>
<p>
  Upon payment kindly send the following details to us at <font style="color: red">1xpredict@gmail.com</font>
</p>
</div>

<div class="w3-third">
<p>
  a) Your full names as reflected in that PayPal payment
</p>
<p>
  b) Your phone number with your country's code e.g. <font style="color: red">+23483736</font>
</p>

<p>
  We will subsequently upgrade your subscription promptly
</p>
</div>

<div class="w3-third">
<h5>
  Your Log In Credentials Will Be;
</h5>
<p>
  Username => (Mobile Phone Number)
</p>
<p>
  Password => (Email Used In Payment)
</p>
<br>
<hr>
</div>
</div>


{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
