{% extends "main_template.html" %}

{% load static %}

{% block title %}

1XPredict.com - VipTips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<h2 class="h4" align = "center">
  Forms Of Payment
</h2>

<div class="w3-row-padding" align = "center">
  <div class="w3-third">
<img src="{% static "images/mpesa.png"  %}">
    <h4 class="h4" align = "center">
    	M-PESA Payment Method
    </h4>

<p>
  a) Lipa na M-PESA
</p>
<p>
  b) Pay Bill
</p>
<p>
  c) Enter Business Number <font style="color: red">247247</font>
</p>
<p>
  d) Enter Account Number <font style="color: red">0470171468770</font>
</p>
<p>
  e) Enter Amount <font style="color: red">KSH.999</font>
</p>

<br>
<hr>
</div>
  <div class="w3-third">
    <img src="{% static "images/first.png"  %}">
    <h4 class="h4" align = "center">
      First Bank
    </h4>


    <p>Bank Name : Ugochukwu Samuel Osinachi<p>

    <p>Account number : 3094329572</p>

  </div>

  <div class="w3-third">
    <img src="{% static "images/paypal.png"  %}">
    <h4 class="h4">
    PAYMENT VIA PAYPAL
  </h4>

  <p>
  Kindly make your 15$ monthly subscription fee through PayPal to this email
  </p>
  <p style="color: red">
  1xpredict@gmail.com
</p>4

  </div>
</div>

<div class="w3-row-padding" align = "center">
  <div class="w3-third">
<img src="{% static "images/vodacom.jpeg"  %}">
    <h4 class="h4">
    Vodacom Tanzania
  </h4>

    <p>In TZ simply dial *150*00# on your Vodacom line </p>
    <p>Receiptient number: +254702290881  </p>
  </div>

  <div class="w3-third">
    <img src="{% static "images/mtn.png"  %}">
    <h4 class="h4">
    MTN Uganda
  </h4>
<p>In Uganda; dial *165# on your MTN line</p>
 <p>Receiptient number: +254702290881 </p>
  </div>

  <div class="w3-third">
    <img src="{% static "images/mtnmobile.jpg"  %}">
    <h4 class="h4">
    MTN Rwanda
    </h4>
    <p>In Rwanda; dial *830# your MTN line </p>
   <p>Receiptient number: +254702290881  </P>
  </div>
</div>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
