{% extends "main_template.html" %}

{% block title %}

1XPredict.com - Roll Over Plan

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<div align = "center">
<h2 align="center">
	1XPredict.com Roll Over Plan
</h2>


<div class="w3-row-padding">
  <div class="w3-third">
<p>
<i>
	<p><i>1XPredict.com have introduced roll over plan for its VIP subscribers.</i></p>
	<p><i>In roll over plan we give out 1.40 odds one game </i></p>
</i>
</p>


</div>

<div class="w3-third">

	<p>
		We pick our roll over game based on our best analysis.If in a day we don't have confidence with any game,we skip that day.
		This leads to 10 to 15 days for roll over plan to complete one cycle.In one month subscription you will participate
		in 2 cycles of roll over Plan
		<p>

</div>

<div class="w3-third">

	<p>
		In our example we started with an initial stake of 3,000 and ended up with 31,624 in one week time.
	</p>

	<h4 >
		1XPredict this week example on how the roll over works
	</h4>

	<p style="color:blue">   <a href="/viptips/"
	>
	<i>click here to join both roll over and vip tips</i>
</a> </p>
</div>

</div>

<div style="overflow-x:auto;">
<table border="4" cellpadding = "8">
<tr style="background-color: #778899" >
<td style="color: white">DAY</td>
<td style="color: white">STAKE</td>
<td style="color: white">ODDS</td>
<td style="color: white">OUTCOME</td>
<td style="color: white">STATUS</td>
</tr>

<tr>
		 <td> 1 </td>
		 <td>3,000</td>
		 <td> 1.40 </td>
		 <td>4,200</td>
		 <td style='background-color: Limegreen;' > Won</td>

</tr>

<tr>
		 <td>2</td>
		 <td>4,200</td>
		 <td> 1.40 </td>
		 <td>5,880 </td>
		 <td style='background-color: Limegreen;' > Won</td>

</tr>

<tr>
		 <td>3</td>
		 <td> 5,880 </td>
		 <td> 1.40 </td>
		 <td> 8,232 </td>
		 <td style='background-color: Limegreen;' > Won</td>

</tr>

<tr>
		 <td> 4</td>
		 <td>8,232 </td>
		 <td> 1.40 </td>
		 <td>11,524 </td>
		 <td style='background-color: Limegreen;' > Won</td>

</tr>

<tr>
		 <td> 5</td>
		 <td> 11,524 </td>
		 <td> 1.40 </td>
		 <td> 16,134 </td>
		 <td style='background-color: Limegreen;' > Won</td>

</tr>

<tr>
		 <td>6 </td>
		 <td> 16,134 </td>
		 <td> 1.40 </td>
		 <td> 22,588 </td>
		 <td style='background-color: Limegreen;' > Won</td>

</tr>

<tr>
		 <td>7 </td>
		 <td>22,588 </td>
		 <td> 1.40</td>
		 <td> 31,624 </td>
		 <td style='background-color: Limegreen;' > Won</td>

</tr>

</table>
</div>

{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
