{% extends "main_template.html" %}

{% block title %}

1XPredict.com - VipTips

{% endblock %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block content %}

<h3 align = "center">Thanks for stopping by!</h3>
<p align = "center">We hope to see you again soon.</p>

<p>Hello everyone. You should not subscribe to vip if you can pick the best teams from our free tips. Try to pick four or five games from our free tips and you will win. </p>
<p>
  If that fails, give us an opportunity we pick for you 3 odds daily by joining our vip
</p>

<p align = "center">
  We give 3 odds in vip daily.Our winning rate in a month is 24 to 27 out of 31 days.Better have low odds and win daily than high and be loosing always.
</p>

<p align = "center">To join our vip navigate to payment section and use any convenience means of payment.After payment contact us via our live chat system or +254702290881 so that we can activate your account.</p>
<br>

<hr>
 <br>
<div class="fb-comments" data-href="http://www.tallaglobal.com" data-numposts="5" data-order-by="reverse_time"></div>
 <br>
<hr>

<br>
{% endblock %}

{% block footer %}

{% include "footer.html" %}

{% endblock %}
